.title {
    height: 100px;
    width: auto; 
}

.button {
    width: 75px;
    margin: 10px;
}

body {
    padding: 30px;
    background: #d53369; 
    background: -webkit-linear-gradient(to right, #cbad6d, #d53369);  
    background: linear-gradient(to right, #cbad6d, #d53369);

}

#pokemon {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 30px;
}

.center {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.poke {
    width: 280px;
    height: 280px;
}